body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 900;
}

/* Headings */
.big-heading {
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}


/* NAVBAR */
.navbar{
    /* default = 16px*/
    padding: 0 0.75rem 3.5rem 0.75rem
}
.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: 100;
}
.navbar a {
    color: white;
}
.nav-item {
    padding: 0 16px;
}
.nav-link {
    font-size: 1.2rem;
}


/* TITLE CONTENT */
.title {
    background-size: cover;
}

.title .container-fluid {
    color: white;
    text-align: left;
    padding: 3% 15% 7%;
}
.title-image{
    width: 130%;
    padding-right: 35px;
}
@media only screen and (max-width: 991px){
    .title-image{
        width: 100%;
        padding-right: 35px;
    }
    .title .container-fluid{
        text-align: center;
    }
}

/* Containers */
.container-fluid{
    padding: 7% 15%;
}

/* Sections */
.white-section {
    background-color: white;
}

.colored-section {
    background-color: #6c8558;
    color: white;
}

/*  Download Buttons */
.fa-apple{
    width: 20px;
}
.download-button{
    margin: 5% 3% 5% 0;
}
@media only screen and (max-width: 991px){
    .download-button {
        margin: 2% 3% 3% 2%;
    }
}


/* FEATURES SECTION */

.feature-title {
    font-size: 1.5rem;
}

.feature-box {
    padding: 5%;
}

.icon {
    color: #6c8558;
    margin-bottom: 1rem;
}

.icon:hover{
    color: #8ca479;
}


/* Testimonials */

.testimonials-text {
    font-size: 3rem;
    line-height: 1.5;
}

.testimonials-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}


/* Press section */
#press {
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}


/* Pricing section */
#pricing {
    padding: 100px;
}

.pricing-text {
    font-size: 3rem;
    line-height: 1.5;
}

.pricing-column {
    padding: 3% 2%;
}


/* footer */
/* The bottom download buttons */
.download-bottom {
    margin: 0 10px;
}
